* {
    color: #732104;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* NAV BAR */



/* PRODUCT CARD */

.containerCard {
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    border-radius: 50px;
    overflow: hidden;
}

.caption {
    background-color: #FEF7E2;
    flex-grow: 1;
    display: flex;
    align-items: center;
    text-align: center;
}

h3 {
    font-size: 0.8rem;
    margin-bottom: 3px;
}

.text p {
    font-size: 0.7rem;
    margin-top: 3px;
}
.text {
    flex-grow: 6;
}

.price {
    font-size: 0.9rem;
    flex-grow: 4;
}

.containerButton{
    display: flex;
    justify-content: center;
    background-color: #FEF7E2;
}

button {
    width: 60%;
    height: 30px;
    margin-bottom: 10px;
    border-radius: 20px;
    background-color:#FFDF7F;
    border: 1px solid transparent;
    font-size: 0.7rem;
    font-weight: bold;
}