body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*NAV BAR*/
nav, .topBanner, header {
    background-color: #ffc017;
    border-bottom: 1px solid black;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 7vh;
}

nav {
    position: sticky;
    top: 0;
    z-index: 1;
}

.containerLogo {
    flex-basis: 60%;
    display: flex;
}

.containerLogo img {
    padding-left: 7vw;
}

.containerElements {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 0.8rem;
    flex-grow: 1;
    padding-right: 7vw;
}

.navElement {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 20%;
}

.btn {
    color: white;
    background-color: black;
    height: 35px;
    border-radius: 25px
}

/*BANNER*/
.topBanner {
    display: flex;
    justify-content: flex-end;
    background-color: #ffc017;
    border-bottom: 1px solid black;
}

.banner {
    display: flex;
    flex-direction: column;
    justify-items: start;
    align-items: flex-start;
}

h1 {
    font-family: "Spectral", serif;
    font-size: 7rem;
    font-weight: 400;
    margin-top: 50px;
}

.banner p {
    font-size: 15px;
    width: 50%;
    margin-top: 10px;

}

.banner button {
    color: white;
    background-color: black;
    height: 35px;
    border-radius: 25px;
    width: 150px;
    font-size: 0.9rem;
    margin-top: 30px;
}

/*SEZIONE*/

.titleSection {
    display: flex;
    align-items: center;
    margin-top: 20px;
    padding-left: 7vw;
    margin-bottom: 10px;
}

.titleSection img {
    width: 20px;
}

.titleSection h2 {
    text-transform: uppercase;
    font-size: 0.6rem;
    font-weight: bold;
}

.containerSubSection {
    display: flex;
    flex-wrap: wrap;
    padding-left: 7vw;
    align-content: space-evenly;
}

.subSection {
    width: 30%;
    height: 15vh;
    display: flex;
    margin-bottom: 20px;
    margin-right: 20px;
   
}

.number {
    font-size: 1.7rem;
    font-weight: bold;
    color: rgba(128, 128, 128, 0.294);
    margin-right: 15px;
    padding-top: 10px;
}

.text img {
    border-radius: 50%;
    width: 25px;
}

.text div {
    display: flex;
    align-items: center;
}

.text {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h5 {
    font-size: 0.6rem;
    font-weight: bold;
    margin-left: 10px;
}

h3 {
    font-size: 0.8rem;
    font-weight: bold;
}

.text p {
    font-size: 0.6rem;
    color: rgba(128, 128, 128, 0.759);
}

/* DIVIDO IN DUE LA PARTE SOTTOSTANTE*/

.center {
    display: flex;
    flex-basis: 50%;
    flex-direction: row;
    border-top: rgba(128, 128, 128, 0.294);

}
/* ARTICLES*/

.containerArticles {
    display: flex;
    flex-direction: column;
    flex-basis: 60%;
}

article {
    display: flex;
    margin-bottom: 20px;
}

.articleText {
flex: 1 1 50%;
}
.articleText img{
    border-radius: 50%;
}

.articleImg {
    flex: 1 1 50%;
}

.articleImg img {
    width: 200px;
}

.gray {
    font-size: 0.7rem;
    color: rgba(128, 128, 128, 0.759);
}